.banner {
  background: url('../../../assets/images/banner.png') center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.banner > h1 {
  font-size: 144px;
  margin-top: -200px;
}

.button_mint {
  margin-top: -100px;
}

.bears {
  padding: 62px;
  display: flex;
  justify-content: center;
}

.classic {
  background: url('../../../../public/images/classic.png') right no-repeat;
  height: 594px;
}

.text {
  justify-content: center;
  text-align: left;
  padding-top: 200px;
  padding-left: 65px;
  font-size: 52px;
  line-height: 44px;
  letter-spacing: -0.085em;
}

.text_own {
    padding-left: 65px;
    font-size: 18px;
    letter-spacing: -0.085em;
    color: silver;
}
