input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

html, body, #root {
    height: 100%;
    width: 100%;
}
html::-webkit-scrollbar {
    display: none;
}

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

